*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
    
}
body
{
    overflow-x: hidden;

}
header
{
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    margin:1.5px auto;
    margin-top:20px;

}
span
{
    font-weight: 1000;
    font-family: initial;
    font-size: larger;
}
h1
{
    font-family: 'nunito', sans-serif;
    font-weight: 600;
    font-size: 3rem;
}
ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 90px;
    list-style-type: none;
    position: relative;
}
nav
{
    margin-top:-12px;
}
ul::after,ul::before
{
    background: #9b9b9bad;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    margin-left: -50vw;
    position: absolute;
    width: 100vw;
    z-index: -1;
    
}
ul::after
{
    top: 0;
}
ul::before
{
    bottom: 0;
}



a
{
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
    font-weight: bolder;
  
}
.content
{
    max-width: 1250px;
    margin: 0 auto;
}
section
{
    display: flex;
    flex-direction: column;
    
}
section::before
{
    background-color: #a8a8a825;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: absolute;
    width: 100vw;
    z-index:-1;
    
}
.a-container h3
{
    color: #5e5e5e;
}
.b-container h3
{
    font-size: 0.9rem;
}
.b-container,.a-container
{
   
    display: flex;
    justify-content: left;
    padding: 30px 0;

}
img
{
    object-fit: cover;
}
h2
{
    padding-top:40px;

}
.a-container img
{
    width: 100%;
    height: 120px;
    
}
.b-container img
{
    width: 95%;
    height: 150px;


}

.a-container article
{
    font-size: small;
    width: 210px;
    padding: 0 5px;
}
.b-container article
{
    font-size: medium;
    width: 280px;
    padding: 0 0px;
    
}
footer
{
    max-width: 1250px;
    margin: 50px auto;
    padding: 20px 0;
    display: flex;
    justify-content: right;
    align-items: center;
    
}
footer::before
{
    background-color: #c5c5c54b;
    content: "";
    display: block;
    height: 90px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: absolute;
    width: 100vw;
    z-index:-1;
}
footer p
{
    font-weight: bold;
    color: #70707085;
}
.slika img
{
    height:400px;
    object-fit: cover;
}
.hero
{
    text-align: left;

}
.hero h1
{
    margin: 0 auto;
    text-align: left;
    
    padding: 20px 0;
}
.hero p
{
    padding: 20px 0;
    font-size: 1.3rem;
    font-weight: 400;
}
.footer-clanak
{
    display:flex;
    justify-content: left;
    background-color: rgb(146, 146, 146);
    color: white;
    height: 50px;
    bottom: 0;
    padding: 0;
    margin: 0 auto;


}
.footer-clanak h1
{
    font-size: 2rem;
}
.footer-clanak::before
{
    display: none;
}
.footer-clanak::after
{
    background-color: rgb(146, 146, 146);
    content: "";
    display: block;
    height: 60px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: absolute;
    width: 100vw;
    z-index:-1;
    
}
.text p
{
    padding: 20px 0;
    font-size: 1rem;
    font-weight: 400;
    
}
.text
{
    margin-bottom: 20px;
}
.slika,.text,.hero
{
    display: flex;
    flex-direction: column;
}
.forma
{
   display: flex;
    flex-direction: column;
    padding: 20px 0;
}
input
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
}
button
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    color: white;
    font-weight: bold;
    width: 200px;
    display: inline block;
}
button:hover
{
    background-color: #fff;
    color: black;
    border: 1px solid #000;
    cursor: pointer;
}
button:active
{
    background-color: #000;
    color: white;
    border: 1px solid #000;
}
select
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
}
.novi
{
    
    padding: 10px 0;
}
.novi p:nth-child(1)
{
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
}
.poruka
{
    color: red;	
}
.novi p
{
    font-size: 1.2rem;
    font-weight: 400;
}
.adminforma
{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 500px;
    height: 800px;
    justify-content: left;
    margin: 50px;
    border: 1px solid #000;
    border-radius: 5px;
}
.content-admini
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content-admini input[type="file"],.content-admini input[type="checkbox"]
{
    width:350px;
    display: inline;
    border: none;
}
.registracija
{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 500px;
    height: 800px;
    justify-content: left;
    margin: 20px;
    margin:0 auto;
    justify-items: center;
}
input[type="submit"],input[type="reset"]
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    color: white;
    font-weight: bold;
    width: 200px;
    display: inline block;
}
input[type="submit"]:hover,input[type="reset"]:hover
{
    background-color: #fff;
    color: black;
    border: 1px solid #000;
    cursor: pointer;
}
.content-admini input[type="submit"],.content-admini input[type="reset"]
{
  width: 100%;
}
.container
{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.prijavaforma
{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 500px;
    height: 800px;
    justify-content: left;
    margin: 20px;
    margin:0 auto;
    justify-items: center;
}
@media screen and (max-width:900px)
{
    .a-container,.b-container
    {
        flex-wrap: wrap;
    }
    *
    {
        margin:0 auto;
    }
    body
    {
        overflow-x:hidden;

    }
    img
    {
        max-width: 90%;
        height: auto;
    }
    ul::after
    {
        width:2000px;
    }
    .hero h1
{
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    width:80%;
    padding: 20px 0;
}
}
@media screen and (max-width:420px)
{
    ul{display: none;}
}
